.header {
    margin: 0 auto;
    background: var(--color-black);
  }  

.header__container {
    align-items: center;
  }

.header__logo {
    padding: 30px 0;
    margin-right: auto;
}


.nav__item:not(:last-child) {
  margin-right: 98px;
}

.nav__item:last-child {
  margin-right: 296px;
}

.nav__link {
  position: relative;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: var(--color-white);
  outline: none;
  z-index: 1;
  transition: color .3s ease-in-out;

}

.nav__link::before {
  content: "";
  position: absolute;
  top: -5px;
  left:  -5px;
  right:  -5px;
  bottom:   -5px;
  transition: background-color .3s ease-in-out;

}

.nav__link:focus-visible::before {
  z-index: -1;
  background-color: var(--color-dark-moderate-violet);
}

.nav__link:hover:not(:focus-visible) {
  color: var(--color-soft-violet);
}

.nav__link:active:not(:focus-visible) {
  color: var(--color-dark-moderate-violet);
}

.header__btn {
  position: relative;
  outline: none;
  z-index: 1;

}

.header__btn::before {
  content: "";
  position: absolute;
  top: -5px;
  left:  -5px;
  right:  -5px;
  bottom:   -5px;
  transition: background-color, .3s ease-in-out;
}

.header__svg rect, path {
  transition: fill 0.3s ease-in-out;
}

.header__btn:focus-visible::before {
  z-index: -1;
  background-color: var(--color-dark-moderate-violet);
}

.header__btn:hover:not(:focus-visible) rect {
  fill: var(--color-soft-violet);
}

.header__btn:hover:not(:focus-visible) path {
  fill: var(--color-soft-violet);
}
.header__btn:active:not(:focus-visible) rect {
  fill: var(--color-moderate-violet);
}

.header__btn:active:not(:focus-visible) path {
  fill: var(--color-moderate-violet);
}