.hero {
  background: url(../img/IMG-Desktop/hero.desktop-1920.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero__block {
  padding-top: 146px;
  padding-bottom: 146px;
  max-width: 32%;
}

.hero__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 72px;
  line-height: 94%;
  color: var(--color-white);
}

.hero__descr {
  margin-bottom: 92px;
  font-weight: 700;
  font-size: 18px;
  line-height: 167%;
  color: var(--color-white);
}

.hero__btn {
  position: relative;
  padding: 25px 35px;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  border: none;
  outline: none;
  border-radius: 100px;
  color: var(--color-white);
  background-color: var(--color-moderate-violet);
  transition: outline, background-color, 0.3s ease-in-out;
}

.hero__btn::after {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  border-radius: inherit;
  border: 2px solid var(--color-soft-violet);
  outline: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.hero__btn:focus-visible::after {
  opacity: 1;
}

.hero__btn:hover:not(:focus-visible) {
  outline: 3px solid var(--color-very-soft-violet);
}
.hero__btn:active:not(:focus-visible) {	
 
  background-color: var(--color-dark-moderate-violet);
}
